.icon-check {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 24px;
    height: 24px;
    background-color: currentColor;
    -webkit-mask-image: url(../../images/user-check.svg);
}
