pytest.ini
requirements.in
setup.cfg
Thumbs.db

.dockerignore
.editorconfig
.env*
.flake8
.DS_Store
.coverage

*~
*.prof
*.swp
*.sqlite3
*.md
.\#*

**/Dockerfile
**/entrypoint.sh

**/env
.env/
.venv/
.git
.idea/
data/
sent_mails/
media/
static/admin
static/rest_framework