{% extends 'base.html' %}

{% load static %}
{% load user_filters %}

{% block title %}Пароль изменен{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
{% load user_filters %}
  <div class="custom-center-block">
    <p class="custom-text-block">Пароль успешно изменен!</p>
    <div class="custom-button-block">
      <a class="button button_style_blue" href="{% url 'index' %}">Перейти на главную</a>
    </div>
  </div>
{% endblock %}