{% extends 'base.html' %}

{% load static %}

{% block title %}Сброс пароля{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
{% load user_filters %}
  <div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
  </div>
  <div class="form-container">
    <form class="form" method="post">
      <p class="form__info-text">
        Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
      </p>
      {% csrf_token %}
      {% for field in form %}
        <div class="form__group">
          <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
          <div class="form__field-group">
            {{ form.field|addclass:"form__input" }}
            <span class="form__error">{{ field.errors }}</span>
          </div>
        </div>
      {% endfor %}
      <div class="form__footer">
        <button class="button button_style_blue">Сбросить пароль</button>
      </div>
    </form>
  </div>
{% endblock %}