.form__field-item-delete {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 20px;
    background-size: contain;
    background: url("../../../images/icons8-delete-16.png");
    cursor: pointer;
}
