{% extends 'base.html' %}

{% load static %}

{% block title %}Избранное{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
  <div class="main__header">
    <h1 class="main__title">Избранное</h1>
    {% include './includes/filter_tags.html' %}
  </div>

  <div class="card-list">
    {% for recipe in page %}
      {% include './includes/recipe_card_full.html' with recipe=recipe %}
    {% endfor %}
  </div>

  {% if page.has_other_pages %}
    {% include './includes/paginatior.html' with page=page paginator=paginator %}
  {% endif %}

{% endblock %}

{% block js %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>
  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>
  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'js/favorite.js' %}"></script>
{% endblock js %}