.card__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 15px;
    padding: 0;
}
.card__text:last-child {
    margin-bottom: 0;
}
