{% extends 'base.html' %}

{% load static %}

{% block title %}HTTP 400{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
  <div class="custom-center-block">
    <p class="custom-text-block">HTTP 400: Bad Request</p>

    <div style="display: flex; justify-content: center;">
      <div class="custom-button-block">
          <a class="button button_style_blue" href="{% url 'index' %}">Вернуться на главную</a>
      </div>
    </div>

  </div>
{% endblock %}