.form__input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 12px 9px;
    max-width: 370px;
    width: 100%;
    max-height: 44px;
    outline: none;
}
.form__input:focus {
    border: 1px solid #4A61DD;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
