<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_active"><a href="#" class="nav__link link">Рецепты</a></li>
                <li class="nav__item"><a href="#" class="nav__link link">Список покупок</a><span class="badge badge_style_blue nav__badge" id="counter">4</span></li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="#" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="#" class="button button_style_blue">Создать аккаунт</a></li>
            </ul>
        </div>
    </nav>
</header>