<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        <div class="card-user" data-author="700">
        <div class="card-user__header">
            <h2 class="card-user__title">Вероника Чернова</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                <li class="card-user__item">
                    <div class="recipe">
                        <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                        <h3 class="recipe__title">Французские тосты</h3>
                        <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                    </div>
                </li>
                <li class="card-user__item">
                    <div class="recipe">
                        <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                        <h3 class="recipe__title">Французские тосты</h3>
                        <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                    </div>
                </li>
                <li class="card-user__item">
                    <div class="recipe">
                        <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                        <h3 class="recipe__title">Французские тосты</h3>
                        <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                    </div>
                </li>
                <li class="card-user__item">
                    <a href="#" class="card-user__link link">Еще 7 рецептов...</a>
                </li>
            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
        <div class="card-user" data-author="707">
            <div class="card-user__header">
                <h2 class="card-user__title">Вероника Чернова</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                            <h3 class="recipe__title">Французские тосты</h3>
                            <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                        </div>
                    </li>
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                            <h3 class="recipe__title">Французские тосты</h3>
                            <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                        </div>
                    </li>
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                            <h3 class="recipe__title">Французские тосты</h3>
                            <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                        </div>
                    </li>
                    <li class="card-user__item">
                        <a href="#" class="card-user__link link">Еще 7 рецептов...</a>
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div>
        <div class="card-user" data-author="7091">
            <div class="card-user__header">
                <h2 class="card-user__title">Вероника Чернова</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                            <h3 class="recipe__title">Французские тосты</h3>
                            <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                        </div>
                    </li>
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                            <h3 class="recipe__title">Французские тосты</h3>
                            <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                        </div>
                    </li>
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="/static/images/testCardImg.png" alt="какой-то-текст" class="recipe__image">
                            <h3 class="recipe__title">Французские тосты</h3>
                            <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                        </div>
                    </li>
                    <li class="card-user__item">
                        <a href="#" class="card-user__link link">Еще 7 рецептов...</a>
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div>
    </div>
    {% include 'paginator.html' with items=page paginator=paginator %}
</main>