<nav class="pagination" aria-label="Search results pages">
    <ul class="pagination__container">
        <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-left"></span></a></li>
        <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="#">1</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#">2</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#">3</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#">4</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#">5</a></li>
        <li class="pagination__item"><a class="pagination__link link" href="#"><span class="icon-right"></span></a></li>
    </ul>
</nav>