<main class="main container">
    <div class="single-card" data-id="371">
        <img src="/static/images/testCardImg.png" alt="какой-то текст" class="single-card__image">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">Французские тосты</h1>

            </div>
            <ul class="single-card__items">
                <li class="single-card__item"><span class="badge badge_style_green">Обед</span></li>
                <li class="single-card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                <li class="single-card__item"><span class="badge badge_style_purple">Ужин</span></li>
            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text"><span class="icon-time"></span> 20 мин.</p>
                <p class="single-card__text"><span class="icon-user"></span> Вероника Чернова</p>
            </div>
            <ul class="single-card__items">
                <li class="single-card__item"><button class="button button_style_blue" name="purchases" data-out><span class="icon-plus"></span> Добавить в покупки</button></li>
            </ul>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Ингридиенты:</h3>
                <div class="single-card__items single-card__items_column">
                    <p class=" single-card__section-item">Яйцо - 2 шт.</p>
                    <p class=" single-card__section-item">Молоко - 200 мл.</p>
                    <p class=" single-card__section-item">Тосты - 4 шт.</p>
                    <p class=" single-card__section-item">Сахар 2 сл.л.</p>
                    <p class=" single-card__section-item">Яйцо - 2 шт.</p>
                    <p class=" single-card__section-item">Молоко - 200 мл.</p>
                </div>
            </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Описание:</h3>
                <p class=" single-card__section-text">Смешать молоко с сахаром, добавить яйца, тщательно все взбить.
                    Обмакнуть тосты в смесь и жарить на сливочном масле до золотистой корочки.</p>
                <p class=" single-card__section-text">Полить сверху сиропом топинамбура и украсить ягодами.</p>
            </div>
        </div>
    </div>
</main>