{% load user_filters %}

<div class="card-user" data-author="{{ author.id }}">
  <div class="card-user__header">
    <h2 class="card-user__title">{{ author|get_full_name_or_username }}</h2>
  </div>
  <div class="card-user__body">
    <ul class="card-user__items">
      {% for recipe in author.recipes.all %}
        {% if forloop.counter < 4 %}
          <li class="card-user__item">
            {% include './recipe_card_small.html' with recipe=recipe %}
          </li>
        {% endif %}
      {% endfor %}
      {% if author.recipe_count > 3 %}
        <li class="card-user__item">
          <a href="{% url 'profile_view' author.username %}"
             class="card-user__link link">Еще {{ author.recipe_count|add:"-3"|conjoin:"рецепт,рецепта,рецептов" }}...
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-user__footer">
    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
  </div>
</div>