{% load user_filters %}

{% if not recipe|is_favored_by:user %}
  <button class="button button_style_none" name="favorites" data-out>
    <span class="icon-favorite {% if big %}icon-favorite_big{% endif %}"></span>
  </button>
{% else %}
  <button class="button button_style_none" name="favorites">
    <span class="icon-favorite icon-favorite_active {% if big %}icon-favorite_big{% endif %}"></span>
  </button>
{% endif %}

{% if big %}
  <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
{% endif %}
