{% extends 'base.html' %}
{% load static %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
<div class="main__header">
  <h1 class="main__title">Об авторе</h1>
</div>
<div class="custom-center-block">
  <p class="custom-text-block">
    <img src="https://avatars.githubusercontent.com/u/20281995?s=400&u=5ab85d526cff1ef6b10e6b8e26e2689b922bcd37&v=4" alt="vamotest"  width="200" height="200"/>
    <p style="text-align: center; margin-top: 70px;"><a href="https://github.com/vamotest" target="_blank"><b>Валерий Моисеев</b></a> - любитель ракет и сладких конфет</p>
  </p>
</div>
{% endblock content %}